.wrapper {
    display: flex;
    column-gap: 60px;
    justify-content: center;
}

.list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    height: calc(100vh - 168px);
    overflow-y: scroll;
    overflow-x: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list > li {
    margin-right: 8px;
}
