.positioning {
    display: flex;
    flex-direction: row-reverse;
}

.wrapper {
    width: 480px;
    margin-top: 120px;
    margin-right: calc(50vw - 240px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputWrapper :global(.input_size_default) {
    width: 480px;
}

.buttonsRow {
    width: 100%;
    display: flex;
    justify-content: space-around;
}