.ingredientDetails {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 0;
}

.image {
    width: 480px;
    height: 240px;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
}