html {
    background-color: #131316;
}

/* Custom scrollbar */
.scrollbar {
    scrollbar-width: thin;
}

/* width */
.scrollbar::-webkit-scrollbar {
    width: 8px;
}
/* Track */
.scrollbar::-webkit-scrollbar-track {
    background: #2F2F37;
}
/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
    background: #8585AD;
}
